@use '../abstracts' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // By default all the children are flatten to the same plane as the parent. Preserve-3d allows for the children to all exist in 3D.
  transform-style: preserve-3d;

  // Border test for debugging
  // border: 1px solid red !important;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: $main-bg;
}

input {
  display: none;
}

// Helper classes
.side {
  position: absolute;
}
