$base-w: 400px;
$base-h: 400px;

$main-bg: radial-gradient(#d0f2ff, #6eb9d5, #2b5363fa);
// $main-bg: radial-gradient(#ffe73ce6, #bd7133, #5f422afa);

// Three variants of the same color for the shadows of each side
$color-black-light: #313131;
$color-black-medium: #171717;
$color-black-dark: #121212;

$color-grey-light: #a6a6a6;
$color-grey-medium: #6a6a6a;
$color-grey-dark: #404040;

$color-white: rgb(245, 245, 245);

$color-brown-light: #b58e5d;
$color-brown-medium: #483925;
$color-brown-dark: #211717;

$color-blue-dark: #0b0e34;
$color-blue-medium: #151c67;
$color-blue-light: #2c3376;
$color-red-dark: #330606;
$color-red-medium: #cc1a1a;
$color-red-light: #ff3636;
$color-green-dark: #0c1616;
$color-green-medium: #112020;
$color-green-light: #293636;
